$font-family: 'Nunito Sans', sans-serif;

$home-font-size: 14px;
$details-font-size: 16px;

$font-light: 300;
$font-normal: 600;
$font-bold: 800;

$white: hsl(0, 0%, 100%);
$dark-elements: hsl(209, 23%, 22%);
$dark-bg: hsl(207, 26%, 17%);

$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);
$light-bg: hsl(0, 0%, 98%);
